# Final Challenge

## Crear una narrativa con datos de la Encuesta Nacional de Inclusión Financiera (ENIF)

## Importación de datos

- Leer los conjuntos de datos "tmodulo" y "tsdem"

- Usar metodos de pandas para conocer su tipo de objeto para cada dataframe

In [5]:
import pandas as pd

ruta_tmodulo = "data\conjunto_de_datos_tmodulo_enif_2021\conjunto_de_datos\conjunto_de_datos_tmodulo_enif_2021.csv"
ruta_tsdem = "data\conjunto_de_datos_tsdem_enif_2021\conjunto_de_datos\conjunto_de_datos_tsdem_enif_2021.csv"

# Leer los archivos CSV en DataFrames
tmodulo = pd.read_csv(ruta_tmodulo)
tsdem = pd.read_csv(ruta_tsdem)

# Tipo de objeto para tmodulo
tipo_tmodulo = tmodulo.dtypes
print(tipo_tmodulo)

# Tipo de objeto para tsdem
tipo_tsdem = tsdem.dtypes
print(tipo_tsdem)

FOLIO      int64
VIV_SEL    int64
HOGAR      int64
N_REN      int64
P3_1_1     int64
           ...
SEXO       int64
EDAD       int64
EST_DIS    int64
UPM_DIS    int64
FAC_ELE    int64
Length: 382, dtype: object
FOLIO        int64
VIV_SEL      int64
HOGAR        int64
N_REN        int64
P2_3         int64
SEXO         int64
EDAD         int64
NIV        float64
GRA        float64
TLOC         int64
REGION       int64
EST_DIS      int64
UPM_DIS      int64
FAC_HOG      int64
dtype: object

## Limpieza de datos

- Leer los cátalogos a través de una funcion (deberá desarrollar esta funcion) para cada dataframe "tmodulo" y "tsdem"

In [18]:
import os

def leer_csv_en_carpeta(carpeta):

    archivos_csv = [archivo for archivo in os.listdir(carpeta) if archivo.endswith('.csv')]
    dataframes = {}
    
    for archivo in archivos_csv:
        ruta_archivo = os.path.join(carpeta, archivo)
        nombre = os.path.splitext(archivo)[0]  # Obtener el nombre sin la extensión .csv
        dataframe = pd.read_csv(ruta_archivo,encoding='latin-1')
        dataframes[nombre] = dataframe
    
    return dataframes

# Ruta de la carpeta que contiene los archivos CSV
ruta_tsdem = "data\conjunto_de_datos_tsdem_enif_2021\catalogos"
ruta_tmodulo = "data\conjunto_de_datos_tmodulo_enif_2021\catalogos"

# Usamos la función para leer los archivos CSV en la carpeta
dataframes_tsdem = leer_csv_en_carpeta(ruta_tsdem)
dataframes_tmodulo = leer_csv_en_carpeta(ruta_tmodulo)

tsdem_edad = dataframes_tsdem ['edad']

     cve                                            descrip
0      0                                    Menos de un año
1  01
96                                     Años cumplidos
2     97                                      97 años y más
3     98  Edad no especificada en personas de 18 años y más
4     99                          Otra edad no especificada

 - En el cátalogo "edad",remover las filas con el cve "Años cumplidos"

In [25]:
# Remover las filas con 'cve' igual a "Años cumplidos"
tsdem_edad = tsdem_edad[~tsdem_edad['descrip'].str.contains("Años cumplidos")]

tsdem_edad

  cve                                            descrip
0   0                                    Menos de un año
2  97                                      97 años y más
3  98  Edad no especificada en personas de 18 años y más
4  99                          Otra edad no especificada

- En el catálogo tmodulo
    - En el cátalogo "edad",remover las filas con el cve "Años cumplidos"

In [27]:
tmodulo_edad = dataframes_tmodulo ['edad']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_edad = tmodulo_edad[~tmodulo_edad['descrip'].str.contains("Años cumplidos")]

tmodulo_edad

  cve                                            descrip
0   0                                    Menos de un año
2  97                                      97 años y más
3  98  Edad no especificada en personas de 18 años y más
4  99                          Otra edad no especificada

- En el cátalogo "p12_4",remover las filas con el cve "Meses"

In [28]:
tmodulo_p12_4 = dataframes_tmodulo ['p12_4']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p12_4 = tmodulo_p12_4[~tmodulo_p12_4['descrip'].str.contains("Meses")]

tmodulo_p12_4

  cve                                      descrip
1  88  Todavía no se recupera o sigue endeudada(o)

- En el cátalogo "p3_8a",remover las filas con el cve "Ingresos"

In [29]:
tmodulo_p3_8a = dataframes_tmodulo ['p3_8a']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p3_8a = tmodulo_p3_8a[~tmodulo_p3_8a['descrip'].str.contains("Ingresos")]

tmodulo_p3_8a

     cve             descrip
0      0  No recibe ingresos
2  98000       $98 000 y más
3  99888         No responde

- En el cátalogo "p10_9_2",remover las filas con el cve "Minutos"

In [30]:
tmodulo_p10_9_2 = dataframes_tmodulo ['p10_9_2']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p10_9_2 = tmodulo_p10_9_2[~tmodulo_p10_9_2['descrip'].str.contains("Minutos")]

tmodulo_p10_9_2

  cve  descrip
1  99  No sabe

- En el cátalogo "p5_12",remover las filas con el cve "Número de veces"

In [31]:
tmodulo_p5_12 = dataframes_tmodulo ['p5_12']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p5_12 = tmodulo_p5_12[~tmodulo_p5_12['descrip'].str.contains("Número de veces")]

tmodulo_p5_12

  cve                  descrip
0   0            No la utiliza
2  88  Menos de una vez al mes

- En el cátalogo "p10_6_1",remover las filas con el cve "Horas"

In [32]:
tmodulo_p10_6_1 = dataframes_tmodulo ['p10_6_1']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p10_6_1 = tmodulo_p10_6_1[~tmodulo_p10_6_1['descrip'].str.contains("Horas")]

tmodulo_p10_6_1

  cve  descrip
1  99  No sabe

- En el cátalogo "p10_9_1",remover las filas con el cve "Horas"

In [33]:
tmodulo_p10_9_1 = dataframes_tmodulo ['p10_9_1']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p10_9_1 = tmodulo_p10_9_1[~tmodulo_p10_9_1['descrip'].str.contains("Horas")]

tmodulo_p10_9_1

  cve  descrip
1  99  No sabe

- En el cátalogo "p10_3_1",remover las filas con el cve "Horas"

In [34]:
tmodulo_p10_3_1 = dataframes_tmodulo ['p10_3_1']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p10_3_1 = tmodulo_p10_3_1[~tmodulo_p10_3_1['descrip'].str.contains("Horas")]

tmodulo_p10_3_1

  cve  descrip
1  99  No sabe

- En el cátalogo "p10_6_2",remover las filas con el cve "Minutos"

In [35]:
tmodulo_p10_6_2 = dataframes_tmodulo ['p10_6_2']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p10_6_2 = tmodulo_p10_6_2[~tmodulo_p10_6_2['descrip'].str.contains("Minutos")]

tmodulo_p10_6_2

  cve  descrip
1  99  No sabe

- En el cátalogo "p6_9",remover las filas con el cve "Número de veces"

In [36]:
tmodulo_p6_9 = dataframes_tmodulo ['p6_9']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p6_9 = tmodulo_p6_9[~tmodulo_p6_9['descrip'].str.contains("Número de veces")]

tmodulo_p6_9

  cve                  descrip
0   0            No la utiliza
2  88  Menos de una vez al mes

- En el cátalogo "p10_3_2",remover las filas con el cve "Minutos"

In [37]:
tmodulo_p10_3_2 = dataframes_tmodulo ['p10_3_2']

# Remover las filas con 'cve' igual a "Años cumplidos"
tmodulo_p10_3_2 = tmodulo_p10_3_2[~tmodulo_p10_3_2['descrip'].str.contains("Minutos")]

tmodulo_p10_3_2

  cve  descrip
1  99  No sabe

- Remplazar los valores numéricos con los valores categóricos proporcionados por los cátalogos a través de una *funcion*